:root {
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Pretendard";
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
